@model IEnumerable<MVCs00130835_CA2.Models.Actor>
           
<table class="table table-condensed table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Films)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ActorId }, new { @class = "btn btn-info btn-xs" })
                @Html.ActionLink("Details", "Details", new { id = item.ActorId }, new { @class = "btn btn-warning btn-xs" })
                @Html.ActionLink("Delete", "Delete", new { id = item.ActorId }, new { @class = "btn btn-danger btn-xs" })
            </td>
        </tr>
    }

</table>



